/**
 * Global
 */
body {
    line-height: 1.6;
    font-family: sans-serif;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.0em; }

a { color: #357da7 }
a:visited { color: #357da7 }

blockquote {
    border: solid 1px dimgray;
    padding: 0 0.5em;
}

code {
    font-family: monospace;
    background-color: #EEE;
    padding: 0 0.3em;
}

code.block {
    display: block;
}
